






nav > ul{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
     margin-top: 50px 150px;   
    
}

nav > ul > li{
    list-style: none;
    padding: 10px 20px;    

}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}


.title-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
}


.hero-image-logo {
    position: absolute;
    top: 26px; 
    left: 599 .86px;
    right: 599.86px;

}

.hero-section {
     position: relative;
     display: inline-block;

}

.logo-title{
    position: absolute;
    top: 298px; 
    left: 221px;
    right: 221px;
    font-weight: 800;
    font-size: 48px;
    color: #0D1321;
    text-align: center;
    /* padding: 0px 32px; */
    margin-top: 32px;
}

.hero-description{
    position: absolute;
    top: 458px; 
    left: 221px;
    right: 221px;
    font-weight: 400;
    font-size: 16px;
    color: #0D1321;
    text-align: center;
    margin-bottom: 142px;
}

.button-contract-me{
    position: absolute;
    top: 542px; 
    left: 598.5px;
    right: 598.5px;
    width: 243px;
    height: 66px;
    border-radius: 8px;
    font-weight: 600;
    font: size 20px;
    background-color: #0D1321;
}

.button-color{
    
    color: #FFFFFF;
}
 
.why-web-section-description{
    text-align: center;
    font-size: 16px;
    font-weight: 400;

          
    
}



.why-web{
    text-align: center;
    font-size: 32px;
    font-weight: 800;
 margin-left: 144px;
     /* margin-top: 32px; */
}

/* .why-web-development-section{
    padding-bottom: 90px;
} */





.reason-description-first{
    display: flex;
    gap: 240px;
    padding-bottom: 48px; 

            
    

}


.reason-description-first-first{
    text-align: left;
    margin-left: 220px;
    flex-wrap: wrap;       
   
    
}
.reason-description-first-title{
    font-size: 24px;
    font-weight: 700;
    color:rgba(13, 19, 33, 70);
    opacity: 70%;

}

.reason-description-first-button{
    width: 170px;
    height: 48px;
    margin-top: 32px;
    stroke: 1  #0D1321;
     background-color: transparent;

}
/* .image-first-reason{
    /* margin-left:623.83px; */







 .image-second-reason{
    /* margin-left: 20px; */
    align-items: center;
    justify-content: center;


} 


 .reason-description-second-title{
    font-size: 24px;
    font-weight: 700;
    color:rgba(13, 19, 33, 70);
    opacity: 70%;
 }
 .reason-description-second-description{
    font-size: 16px;
    font-weight: 400;
    color:#0D1321;
    /* opacity: 70%; */
    justify-content: center;
    align-items: center;
 }

.reason-description-second{
    display: flex;
    gap: 180px;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
}



.reason-description-second-button{
     width: 170px;
    height: 48px;
    margin-top: 32px;
    stroke: 1  #0D1321;
     background-color: transparent;
     /* color: #0D1321;      */

}



.reason-description-third{
      display: flex;
    gap: 270px; 
     margin-left: 40px;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;

}


.reason-description-third-title{
    font-size: 24px;
    font-weight: 700;
    color:rgba(13, 19, 33, 70);
    opacity: 70%;

}
/* .reason-description-third-description{
    

} */

.reason-description-third-button{
     width: 170px;
    height: 48px;
    margin-top: 32px;
    
    stroke: 1  #0D1321;
     background-color: transparent;

}






.inspiration-title{
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 32px;
    color: #0D1321;
}

.inspiration-description{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    color: #0D1321;
    /* margin-left: 20px; */
    padding-bottom: 48px;
}
.video-inspiration{
    margin-left: 180px;

}




/* Target Section-starts */
.my-current-target-title{
    font-size: 32px;
    font-weight:800;
    justify-content: center;
    text-align: center;
}

.my-current-target-description{
    justify-content: center;
    text-align: center;
    /* margin-left: 240px; */
    padding-bottom: px;
}
.image-current{
    padding-bottom: 24px;
    padding-top: 40;

}

.image-title{
    font-size: 24px;
    font-weight: 800;
    /* padding-bottom: px; */
        margin-left: 20px  ;


}
.image-description{
    font-size: 16px;
    padding-bottom: 24px;
    text-align:left; 
    margin-left: 20px  ;



}


.hyperlink{
    font-weight:600;
    font-size: 16px;
            margin-left: 20px  ;
            /* margin-bottom: 10px; */

    

}

.skills-current{
    display: flex;
    /* align-items: center; */
    /* text-align: center; */
    gap:20px;
    padding-bottom: 10px;

    

}
.java-title{
    margin-left: -10px;
     font-size: 24px;
    font-weight: 800;
    /* padding-bottom: px; */
        margin-left: 20px  ;

}

.html-main{
    border: 1px solid #E0E0E0;
    /* padding-bottom: 20px; */
    border-radius: 16px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); */
    margin-left: 140px;
    background-color: rgba(255, 76, 30, 0.05);
    /* opacity: 30%; */
    /* box-shadow: rgba(255, 76, 30, 5); */
    padding-bottom: 15px;


}

.css-main{
     border: 1px solid #E0E0E0;
    /* padding-bottom: 20px; */
    border-radius: 16px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); */
    /* margin-left: 140px; */
     background-color: rgba(0, 76, 232, 0.05);
}

.java-main{
     border: 1px solid #E0E0E0;
    /* padding-bottom: 20px; */
    border-radius: 16px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); */
    /* margin-left: 140px; */
    background-color:rgba(255, 223, 0, 0.05);
}

.css-title{
     font-size: 24px;
    font-weight: 800;
    /* padding-bottom: px; */
        margin-left: 19px  ;

}

.css-image{
    font-size: 16px;
    padding-bottom: 24px;
    text-align:left; 
    margin-left: 10px  ;
    padding-top: 24px;

}
.html-image{
     font-size: 16px;
    padding-bottom: 24px;
    text-align:left; 
        padding-top: 24px;
    margin-left: 10px  ;


}


.java-iamge{
     font-size: 16px;
    padding-bottom: 24px;
    text-align:left; 
        padding-top: 24px;
        margin-left: 19px;

}

.my-future-targets-starts{
    padding-top: 24px;
}

.target-title{
    font-size: 32px;
    font-weight:800;
    justify-content: center;
    text-align: center;
}


.target-description{
    justify-content: center;
    text-align: center;
    margin-left: 60px;
    /* padding-bottom: px; */

}

/* .img{
    width: 94.78px;
    height: 108px;
} */
/* .skills-future{
    /* font-size: ; */
    /* display: inline-flexbox; */
    /* padding-top: 48px; */
 

.react-section{
    display: flex;
    gap: 10px;
    margin-left:140px;
    /* align-items: center  ; */
   
    /* flex-wrap: 24px; */
    /* border-color: #47474A; */
    border: 1px solid #E0E0E0;
    padding-bottom: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

    
}


.react-image{
    height: 75px;
    padding-top: 60px;
    /* padding-bottom: 50px; */
    width: 85px;
    margin-left: 40px;
}

.react-image-title{
    margin-left: 50px;
    font-size: 24px;
    font-weight: 800;
    

}

.react-description{
    margin-left: 50px; 
    padding-bottom: 24px;


}
/* Target Section-ends */






.background-image-suppourt {
  background-image: url("/assets/handshake.jpg");
  background-size: cover;
  background-position: center;
  /* width: 1140px; */
  height: 313px;
  background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
background-position: center; 

width: 100%;
max-width: 1190px;
margin:50px 140px;
border-radius: 16px;
/* padding-bottom: 24px; */
/* margin-top: 50x; */
}


.support-title{
    text-align: center;
    padding-top: 64px;
    font-weight: 800;
    font-size: 32;
    color: #FFFFFF;
}

.support-desc{
    text-align: center;
     color: #FFFFFF;
     font-size: 16px;
     opacity: 70%;
}



.box{
    gap: 16px;
    align-items: center;
    display: flex;
    
  
}
    

.input-text{
    width: 500px;
    height: 57px;
    border-radius: 8px;
    border-color: transparent;
     margin-left: 290px;
     text-align: left;
     padding-left: 10px;
}

.submit-button-last{
    width: 110px;
    height: 63px;
    border-radius: 8px;
     border-color: transparent;

}
/*------------Shared styles -----        */


* {
    font-family: azeret mono, monospace;
}


.button{
    font-weight: 600;
    font: size 20px;
    border-radius: 8px;
    padding: 17px 25px;
    background-color: transparent;
    color: #0D1321;
    border: 1px solid #0D1321;
}